/* Tags */

a{

    color: #FFFAE8;
    text-decoration: none;

}


body{

    
color: #FFFAE8;
background-color: #D65151;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 3px 2px #061724;
line-height: 1.5;
text-align: center;
font-size: 150%;

min-height: 100vh;
display: flex;
flex-direction: column;
}

footer{
    
    background-color: #22333b;
    color: #f2f4f3 ;
    font-size: .35em;
    margin-top: auto;
    padding: 1.11em 0;
    box-shadow: 0 0 6px #000;

}

header{

    background-color:#A12828;
    padding: 50px 50px 0px 50px;
    box-shadow: 0 0 6px #000;
    border-bottom: 3px solid #13123C;
    margin-bottom: 2em;
}

header li{

display: inline;
padding-left: 0px;



}

hr{

   border: 3px solid #13123C;
   box-shadow: 0 0 3px #000;
}


.Button{

    background-color: #0B2B42;
    border: 2px solid #13123C ;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    padding: .40em 1em;
    
    }

    .Button:hover{
        transition: 0.4s;
        background-color: #13123C;
        
        }

.emphasise{

    font-size: 200%;
    background-color: #0B2B42;
    border: 2px solid #13123C ;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    padding: .07em 1em;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.emphasise:hover{
    transition: 0.4s;
    background-color: #13123C;
    
    }


.ArticleTitle{

    background-color:#0B2B42;
    padding: .25em 1.5em 0.25em 1.5em;
    box-shadow: 0 0 6px #000;
    border-bottom: 2px solid #13123C;
    border-top:2px solid #13123C ;
    margin-bottom: 0.5em;

}

.About-topic{

    color: #FFFAE8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-align: right;
    text-shadow: none;
    font-size: 80%;
    
    
    
    }

.vl{

border-left: #0B2B42 solid 6px;

}

.Thought-topic{

    color: #FFFAE8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-align: left;
    text-shadow: none;
    font-size: 80%;
    margin-left: 2em;


}

.title{

text-shadow: 2px 2px #13123C;
}

.ArticleIMG {
    
display: block;
width: 100%;
border-radius: 8px;
}


.ArchiveBTN{
background-color: #0B2B42;
display: block;
width: 100%;
color: #ffff;
border-radius: .25em;
padding: 4em .8em;
box-shadow: 0 0 6px #000;
border: 2px solid #13123C ;
text-align: center;

}

.ArchiveBTN:hover{

transition: 0.4s;
background-color: #13123C;
    
}

.ArchiveContainer{

display: flex;
flex-direction: row;
gap: 1em;
justify-content: center;
align-items: center;
vertical-align: middle;
margin-top: 1em;

}



.leftArchBTN{
margin-left: 15em;
}

.rightArchBTN{
margin-right: 15em;
}

.VideoGames,.Movies{
margin-top: 4em;
}

.Comics ,.Music{
margin-bottom: 4em;
}


.ribbon{
display: flex;
background-color: #0B2B42;
padding: 1em;
box-shadow: 0 0 6px #000;
border-bottom: 2px solid #13123C;
border-top:2px solid #13123C ;
margin: 1em 0 ;
}


.FAContainer{
    
    display: flex;
    flex-direction: row;
    
}


.YearText{
    
    background-color: #0B2B42;
    border:2px solid #13123C ;
    box-shadow: 0 0 6px #000;
    padding:0.2em 0.5em;
    margin-top:1em;
    margin-bottom:1em ;
    margin-left: 5%;
    
}

.FAContainerIMG img{
   
    display: block;
    width:  8em;
    height: 12em;
    object-fit: cover;
    margin-left: 8px;
    border: 3px solid #13123C;
    box-shadow: 0 0 6px #000;
    border-radius: 6px;
   

}


.FAContainerIMG{
    position: relative;
    display: flex;
    gap: 1em;
   

}

.FAtitle{

    height: 12em;
    width: 8em;
    padding: 6px;
    border-radius: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(27, 27, 27, 0.6);
    left: 10px;
    text-align: center; 
    line-height: 12em;
    vertical-align: middle;
    opacity :0;
    transition: 0.4s;
}

.FAtitle:hover{
opacity: 1;
}

.heading{

padding: 0.25em;
background-color: #0B2B42;
border: 2px solid #13123C;
box-shadow: 0 0 6px #000;

margin: 0.5em 0 ;
}

.emailForm{
    margin-top: 1em;
}

.emailButton{
    margin-top: .5em;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 1em 2em;
    font-size: 18px;
    border: 2px solid #13123C;
    border-radius: 0.5em;
    color: #FFFAE8;
    background-color: #0B2B42;
}

.emailButton:hover{
    transition: 0.4s;
    background-color: #13123C;
    
}

.contactRibbon{
    display: flex;
    justify-content: center;
    gap: 4em;
}

.contactIMG{
    position: relative;
    display: flex;
    margin: 2em 0;
}

.contactIMG img{


    display: block;
    width:  8em;
    height: 8em;
    object-fit: cover;
    margin-left: 8px;
    border: 3px solid #13123C;
    box-shadow: 0 0 6px #000;
    border-radius: 6px;
   

}

.Overlay{

    position: absolute;
    width: 8em;
    height: 8em;
    background-color: #000;
    left: 7px;
    border-radius: 6px;
    opacity: 0;
}

.Overlay:hover{

    transition: 0.6s;
    opacity: 0.6;
}

.aboutPar{

padding: 1em 0.5em;
background-color: #A12828;
border-radius: 0.4em;
border: 3px solid #13123C;
box-shadow: 0 0 6px #000;

}

.homeCont{
    display: flex;
    padding-top: 2em;
    background-color: #A12828;
    justify-content: center;
    gap: 4em;


}

.homeContEnd{

    padding-bottom: 4em;
}
